<a href="https://colab.research.google.com/github/JelanAngeloBLoy-a/CPE-031-Visualization-and-Data-Analysis/blob/main/Introduction_To_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
#Example 1
mydataset={
    'animals':["Cat","Dog","Rabbit"],
    'height':[13,17,8]
}

myvar=pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
#Example 2
import pandas as pd

a=[1,7,2]
myvar=pd.Series(a)

print(myvar)
print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [ ]:
#Example number 3
import pandas as pd

a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])

print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [ ]:
#Example 4
import pandas as pd

calories={"day1":420,"day2":380,"day3":390}

myvar=pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
#Example 5
import pandas as pd

data={
    "age":[42,38,39],
    "weight":[50,40,45]
}

myvar=pd.DataFrame(data)
print(myvar)
print(" ")
print(myvar.loc[0])
print(myvar.loc[[0,1]])
print(myvar.loc[[0,2]])

   age  weight
0   42      50
1   38      40
2   39      45

age       42
weight    50
Name: 0, dtype: int64
   age  weight
0   42      50
1   38      40
   age  weight
0   42      50
2   39      45

In [ ]:

#Example 6

import pandas as pd

data={
    "calories":[420,380,390],
    "duration":[50,40,45]
}

df=pd.DataFrame(data,index=["day1","day2","day3"])

print(df)
print(df.loc["day2"])

      calories  duration
day1       420        50
day2       380        40
day3       390        45
calories    380
duration     40
Name: day2, dtype: int64

In [ ]:
#Example 7

import pandas as pd

df=pd.read_csv('data.csv')
print(df)